@import '../../../styles/settings.scss';

.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    padding: 0 5px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin-left: 0;
    max-height: 30px;
}

a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.link {
    color: white;
    font-weight: bold;
    margin: 0 5px;
}

.discription {
    font-size: 8px;
    color: white;
}
