@import '../../../styles/settings.scss';

.root {
  max-width: 40vw;
  overflow: hidden;

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .input {
    margin: 16px;
    max-width: 40vw;
    max-height: 25px;

    &:invalid {
      border-color: red;
    }
  }

  input[type="checkbox"] {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 120px;
  }

  button {
    display: block;
    max-width: 200px;
    padding: 10px 20px;
    margin: 80px auto;
    border-radius: 10px;
    outline-style: none;
    border: 1px solid black;
    background-color: transparent;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  textarea {
    margin: 15px;
  }

  span {
    position: absolute;
    // display: block;
    color: red;
    font-size: 10px;
    transform: translate(5vw, 400px);
  }
}
